html {
  /* font-size controls all sizes (1rem = 5px, 2rem = 10px) */
  font-size: 5px;
  --bg-color: #535353;
  --nav-color: rgba(46, 46, 46, 1);
  --bg-color: #535353;
  --idle-color: rgba(50, 50, 50, 1);
  --idle-outline-color: rgba(255, 255, 255, 0.25);
  --hover-color: rgba(0, 102, 153, 1);
  --hover-outline-color: rgba(255, 255, 255, 0.75);
  --full-size: 2px;
  background-color: var(--bg-color);
}

.content {
  background-color: var(--nav-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 0px;
}

#footer {
  background-color: var(--bg-color);
}

.colorPick {
  position: relative;
  left: 10%;
  margin-top: -3rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
}

.bounds {
  padding: 2rem;
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.box {
  border: 1px solid var(--idle-outline-color);
  background-color: var(--idle-color);
  width: 6rem;
  height: 6rem;
  transition: border-width 100ms linear 20ms,
     border-color 100ms linear 20ms,
     background-color 100ms cubic-bezier(0.76, 0.00, 0.24, 1.00) 0ms,
     border-radius 200ms cubic-bezier(0.76, 0.00, 0.24, 1.00) 20ms;
}

.innerStroke {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--idle-outline-color);
  background-color: var(--nav-color);
  transition: border-width 100ms linear 20ms,
     border-color 100ms linear 20ms,
     background-color 100ms ease-in 0ms,
     border-radius 150ms ease-in 20ms;
}

.arrows {
  margin-left: 2rem;
  /* border: 2px solid black; */
  width: 14px;
  height: 7rem;
  display: flex;
  flex-direction: column;
  flex: wrap;
  justify-content: space-between;
}

#reload {
  background-color: #66ff66;
  height: 2rem;
  margin-right: 2rem;
}

#take {
  background-color: #645cff;
  margin: .25rem;
  height:2rem;
  width: 3rem;
}
#send {
  background-color: #ff3333;
  margin: .25rem;
  height:2rem;
  width: 3rem;
}

#foreground {
  /* position: relative; */
  z-index: 1;
}

#background {
  position: relative;
  top: 16px;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  transition: top 200ms ease-in 20ms,
          bottom 200ms ease-in 20ms,
          margin-left 200ms ease-in 20ms,
          background-color 200ms ease-in 20ms,
          border-top 200ms ease-in 20ms,
          border-bottom 200ms ease-in 20ms,
          border-left 200ms ease-in 20ms,
          border-right 200ms ease-in 20ms;
}

#up {
    top: 2px;
    border-bottom: 10px solid var(--idle-outline-color);
}

#down {
    bottom: 6px;
    border-top: 10px solid var(--idle-outline-color);
}

#up:hover {
  top: 1px;
    border-bottom: 12px solid var(--hover-color);
}

#down:hover {
  top: 1px;
  border-top: 12px solid var(--hover-color);
}

.triangle:hover{
  cursor: pointer;
  margin-left: .6rem;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  /* right: 10px; */
}

#up:active {
  border-bottom: 13px solid white;
}

#down:active {
  border-top: 13px solid white;
}



#reload:hover, #send:hover, #take:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  border-color: var(--hover-outline-color);
  border-radius: .3125rem;
}

.innerStroke:hover {
  cursor: pointer;
  /* background-color: var(--hover-color); */
  border-color: var(--hover-outline-color);
  border-radius: 1.5rem;
}

#foreground:hover, #background:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  border-color: var(--hover-outline-color);
  border-radius: 3rem;
}

#foreground:active, #background:active, #reload:active, #send:active, #take:active {
  background-color: white;
}
